/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
  }
  
  ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
  }
  
  a {
    text-decoration: none;
  }

  h1{
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    color: #0066AF;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all ease-in-out 0.3s;
  }
  h1:hover{
    transform: scale(1.1);
  }
  h1::after{
    content: "";
    align-self: center;
    display: inline-block;
    width: 30%;
    height: 3px;
    background: #0066AF;
    transition: all ease-in-out 0.3s;
  }

  h1:hover::after{
    width: 60%;
  }

  p{
    display: inline;
    margin-top: 2rem;
    text-align: justify;
  }
  .flex{
    display: flex;
    justify-content: center
  }
  .col{
    flex-direction: column;
  }
 

@import "_navbar.scss";
@import "_footer.scss";

.grid{
  display: flex;
  justify-content: center;
  gap: 3rem;
  row-gap: 4rem;
  flex-wrap: wrap;
  img{
    width: 300px;
    border-radius: 0.3rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* Subtle shadow */
        transition: all ease-in-out 0.3s;
  }
  img:hover{

    transform: translateY(-20px) scale(1.1);
  }
}
#comettiee{
  text-align: center;
  padding: 10rem 0;
  h1{
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 576px) {
  h1{
    font-size: 1.5rem;
  }
}


body{
  background: white;
  color: #0066AF;
}