/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #0066AF;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out 0.3s;
}

h1:hover {
  transform: scale(1.1);
}

h1::after {
  content: "";
  align-self: center;
  display: inline-block;
  width: 30%;
  height: 3px;
  background: #0066AF;
  transition: all ease-in-out 0.3s;
}

h1:hover::after {
  width: 60%;
}

p {
  display: inline;
  margin-top: 2rem;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: center;
}

.col {
  flex-direction: column;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: white;
  --black-color-light: hsl(0, 0%, 100%);
  --black-color-lighten: hsl(0, 0%, 96%);
  --white-color: hsl(220, 24%, 12%);
  --body-color: #0066AF;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
/*=============== BASE ===============*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  display: flex;
  height: 3px;
  width: 2rem;
  background: var(--body-color);
  border-radius: 1px;
  transition: all ease 0.5s;
}

.one {
  margin-bottom: 5px;
}

.three {
  margin-top: 5px;
}

.ham span:first-child {
  position: relative;
  top: 0px;
  right: 0px;
  transform: rotate(45deg);
}

.ham span:nth-child(2) {
  display: none;
}

.ham span:last-child {
  position: relative;
  top: -8px;
  right: 0px;
  transform: rotate(-45deg);
}

.nav__burger,
.nav__close {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}
.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--black-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  width: 15rem;
  transition: max-height 0.4s ease-in;
}

a:hover {
  color: var(--body-color);
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .nav__link {
    padding-inline: 1rem;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    -moz-column-gap: 0.25rem;
         column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
  .dropdown__item,
  .dropdown__subitem {
    width: 100%;
    position: relative;
  }
  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }
  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }
  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }
  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}
.nav__link.current {
  color: var(--body-color);
}

.nav__link:hover {
  color: var(--body-color);
}

.nav-logo {
  width: 100%;
}
.nav-logo img {
  width: 20rem;
}

.header {
  position: fixed;
  top: -200px; /* Adjust based on navbar height */
  width: 100%;
  transition: all ease-in-out 0.3s;
}

.header.show {
  top: 0;
}

@media screen and (max-width: 1117px) {
  .nav-logo {
    width: 100%;
  }
  .nav-logo img {
    width: 15rem;
  }
}
@media screen and (max-width: 500px) {
  .nav-logo {
    width: 100%;
  }
  .nav-logo img {
    width: 10rem;
  }
}
.bg-img {
  position: fixed;
  top: 0;
  z-index: -1;
  background-image: url("scetsb.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  transition: all ease 0.5s;
  height: 100vh; /* 100vh means 100% of the viewport height */
}

.opacity {
  opacity: 0.5;
}

#hero {
  margin-top: 130vh;
  padding: 2rem;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 4rem;
}

@media screen and (min-width: 684px) {
  h1 {
    font-size: 4rem;
  }
  p {
    align-self: center;
    width: 30rem;
  }
}
.counter {
  font-size: 5rem;
  font-weight: bold;
}

.stats-section {
  margin-top: 100vh; /* For demo, adjust based on your layout */
  height: 400px; /* Adjust as needed */
  background: #f0f0f0; /* Just to visualize the section */
}

.counter-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.counters {
  background: #0f479a;
  color: #fff;
  padding: 10rem 5rem 10rem 5rem;
  border-top: 3px lightskyblue solid;
}

.counters .counter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.counters i {
  color: lightskyblue;
  margin-bottom: 5px;
}

.counters .counter {
  font-size: 45px;
  margin: 10px 0;
}

@media (max-width: 700px) {
  .counters {
    padding: 40px 20px;
  }
  .counters .counter-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .counters .counter-container > div:nth-of-type(1),
  .counters .counter-container > div:nth-of-type(2) {
    border-bottom: 1px lightskyblue solid;
    padding-bottom: 20px;
  }
}
.counter-title-container h1 {
  text-align: center;
  color: white;
}
.counter-title-container h1::after {
  background: white;
  margin-bottom: 3rem;
  width: 70%;
}
.counter-title-container h1:hover::after {
  width: 40%;
}

@media screen and (min-width: 912px) {
  .counters .counter {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .counter-title-container h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
  }
  .counter-title-container h1::after {
    background: white;
    width: 10%;
  }
  .counter-title-container h1:hover::after {
    width: 40%;
  }
}
#awards {
  background: white;
  text-align: center;
}
#awards h1 {
  padding-top: 5rem;
}

.award-container {
  padding: 5rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.award-container .boxes {
  display: block;
  height: 20rem;
  width: 20rem;
  background: rgb(255, 255, 255);
  border-radius: 0.4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all ease-in-out 0.3s;
}

.boxes:hover {
  transform: translateY(-20px); /* Scale up on hover */
}

.boxes img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Ensures the image covers the div without stretching */
}

@media screen and (max-width: 1120px) {
  .award-container {
    padding: 5rem 1rem;
  }
}
.boxes img {
  width: 100%;
}

.footer {
  padding: 40px 0;
  background-color: #0f479a;
  color: white;
}

.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer li {
  display: inline-block; /* Change to inline-block for horizontal layout */
  padding: 0 10px;
}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul a:hover {
  opacity: 1;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer .footer-break {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: white;
}

h3 {
  margin-bottom: 2rem;
}

.social a img {
  width: 2rem;
}/*# sourceMappingURL=main.css.map */